<div class="container-fluid mainContentContainerBackgroundBlue">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center py-2">
            <h1>Speakers of GAB 2019 Kyiv</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-3">
            <div class="row justify-content-center">
                {{#speakers}}
                    <div class="col-xs-12 col-sm-12 offset-md-1 col-md-5 offset-lg-1 col-lg-5 card speakersCard p-3 m-2">
                        <img class="card-img-top speakersSpeakerImage img-fluid" src="{{photo}}" alt="{{firstName}} {{lastName}} photo">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{firstName}} {{lastName}}
                            </h3>
                            <div>
                                {{#if bio}}
                                    <h5>Biography:</h5>
                                    <p class="card-text">
                                        ({{bio}})
                                    </p>
                                {{/if}}
                                
                                {{#if jobTitle}}
                                    <h5>
                                        Job:
                                    </h5>
                                    <p class="card-text">
                                        {{jobTitle}}
                                    </p>
                                {{/if}}

                                {{#if company}}
                                    <h5>
                                        Company:
                                    </h5>
                                    <p class="card-text">
                                        {{company}}
                                    </p>
                                {{/if}}

                                <h5>
                                    Links to social profiles:
                                </h5>
                                {{#links}}
                                    <a href="{{link}}" class="btn btn-primary" target="_blank"><i class="{{icon}}"></i></a>
                                {{/links}}
                            </div>
                        </div>
                    </div>
                {{/speakers}}
            </div>
        </div>
    </div>
</div>