<div class="container-fluid mainContentContainerBackgroundBlue">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center py-2">
            <h1>Agenda of GAB 2019 Kyiv</h1>
        </div>
    </div>
</div>

<div class="container mainContentContainerBackgroundWhite my-3">
    <table class="table table-hover table-striped">
        <thead class="thead-dark text-center">
        <tr>
            <th scope="col">
                Time slot
            </th>
            <th scope="col">
                Topic Title
            </th>
            <th scope="col">
                Topic Description
            </th>
            <th scope="col">
                Speaker
            </th>
        </tr>
        </thead>
        <tbody>
        {{#agenda}}
            <tr>
                <th scope="row">
                    {{start}} - {{end}}
                </th>
                <td>
                    {{title}}
                </td>
                <td>
                    {{{description}}}
                </td>
                <td>
                    <div class="text-center agendaSpeakerName">
                        {{name}}
                    </div>
                    <div class="text-center">
                        <img src="{{photo}}" class="img-fluid rounded-circle agendaSpeakerImage" alt="Speakers image">
                    </div>
                </td>
            </tr>
        {{/agenda}}
        </tbody>
    </table>
</div>


